asgiref==3.2.7
certifi==2020.4.5.1
chardet==3.0.4
Django==3.0.6
django-hitcount==1.3.2
django-tracking @ git+https://github.com/bashu/django-tracking.git@f6883f8759bc645a3aeb7b77cced8e95b84e46de
geoip2==3.0.0
idna==2.9
maxminddb==1.5.4
Pillow==8.3.2
python-memcached==1.59
pytz==2020.1
requests==2.23.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.25.9
whitenoise==5.1.0
psycopg2_binary==2.8.5
dj-database-url==0.5.0